
@media (max-width: 768px) {
    #Grocerytag,#CoolDrinkstg,#Stationariestag,
    #Vegetalestag,#Snackstag{
        width: 120px;
        height: 40px;
        padding: 8px;
        align-items: center;
        font-size: 18px;
    }
     
}